<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-5 col-xs-12">
        <div class="field">
            <%= f.text_field :name, placeholder: "Name" %>
        </div>
        <div class="field">
            <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div class="field">
            <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <div class="actions pull-right">
            <%= f.submit params[:action] == 'new' ? "Join" : "Update" %>
        </div>
    </div>
<% end %>
