<p id="notice"><%= notice %></p>

<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<div class="span8">
    <% if @user.stories.any? %>
        <h3>Stories (<%= @user.stories.count %>)</h3>
        <ol>
            <%= render @user.stories %>
        </ol>
    <% end %>
</div>