<div class="pageContainer">
    <div class="container">    
        <p id="notice"><%= notice %></p>


        
        <div class="userProfile">
            <%= gravatar_for @user %>
            <h1 class="userHeadline">
                <%= @user.name %>
                <span class="userEmail"><%= @user.email %></span>
            </h1>
            <% if current_user == @user %>  
                <div class="userButtons pull-right">
                    <%= link_to 'Edit profile', edit_user_path(@user), class: "btn btn-inverse" %>
                    <%= link_to "Logout", logout_path, method: "delete", class: "btn marginLeft" %>
                </div>
            <% end %>
        </div>

        <!-- 
        <% if @user.stories.any? %>
            <h3>Stories (<%= @user.stories.count %>)</h3>
            <ol>
                <%= render @user.stories %>
            </ol>
        <% end %> -->


        <ul class="primaryList">
            <% @user.stories.each do |story| %>
                <li>
                    <%= link_to(story, class: "primaryHeadline") do %>
                        <span><%= story.title %></span>
                    <% end %>
                </li>
            <% end %>
        </ul>

    </div>
</div>