<div class="pageContainer">
    <% if !signed_in? %>
        <div class="heroImg">
            <div class="container">
                <h1><span>Write your story</span><span>Read all kinds of stories</span><span>Vote to continue the story</span></h1>
                <div class="textCenter"><%= link_to "Join now", signup_path, class: "btn btn-inverse marginBottom" %></div>

            </div>
        </div>
    <% end %>
    <div class="container">
        <ul class="primaryList">
            <% @stories.each_with_index do |story, index| %>
                <% if index > 7 %>
                    <% break %>
                <% end %>
                <li>
                    <%= link_to(story, class: "primaryHeadline") do %>
                        <span><%= story.title %></span>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <%= link_to "Newest stories", { :controller => "stories", :action => "newest" }, :class => "pull-right marginTop marginBottom marginLeft btn" %>
        <%= link_to "All stories", { :controller => "stories", :action => "all" }, :class => "pull-right marginTop marginBottom btn" %>
    </div>
</div>