<% if @story.created_at > 1.hour.ago %>
    <% round = 2 %>
    <% vote = false %>
<% elsif @story.created_at <= 1.hour.ago && @story.created_at > 2.hour.ago %>
    <% round = 2 %>
    <% vote = true %>
<% elsif @story.created_at < 2.hour.ago && @story.created_at > 3.hour.ago %>
    <% round = 3 %>
    <% vote = false %>
<% elsif @story.created_at < 3.hour.ago && @story.created_at > 4.hour.ago %>
    <% round = 3 %>
    <% vote = true %>
<% elsif @story.created_at < 4.hour.ago && @story.created_at > 5.hour.ago %>
    <% round = 4 %>
    <% vote = false %>
<% elsif @story.created_at < 5.hour.ago && @story.created_at > 6.hour.ago %>
    <% round = 4 %>
    <% vote = true %>
<% elsif @story.created_at < 6.hour.ago && @story.created_at > 7.hour.ago %>
    <% round = 5 %>
    <% vote = false %>
<% elsif @story.created_at < 7.hour.ago && @story.created_at > 8.hour.ago %>
    <% round = 5 %>
    <% vote = true %>
<% elsif @story.created_at < 8.hour.ago && @story.created_at > 9.hour.ago %>
    <% round = 6 %>
    <% vote = false %>
<% elsif @story.created_at < 9.hour.ago && @story.created_at > 10.hour.ago %>
    <% round = 6 %>
    <% vote = true %>
<% elsif @story.created_at < 10.hour.ago && @story.created_at > 11.hour.ago %>
    <% round = 7 %>
    <% vote = false %>
<% elsif @story.created_at < 11.hour.ago && @story.created_at > 12.hour.ago %>
    <% round = 7 %>
    <% vote = true %>
<% elsif @story.created_at < 12.hour.ago && @story.created_at > 13.hour.ago %>
    <% round = 8 %>
    <% vote = false %>
<% elsif @story.created_at < 13.hour.ago && @story.created_at > 14.hour.ago %>
    <% round = 8 %>
    <% vote = true %>
<% elsif @story.created_at < 14.hour.ago && @story.created_at > 15.hour.ago %>
    <% round = 9 %>
    <% vote = false %>
<% elsif @story.created_at < 15.hour.ago && @story.created_at > 16.hour.ago %>
    <% round = 9 %>
    <% vote = true %>
<% end %>

<div class="pageContainer whitePageContainer">
    <div class="container">  
        <p id="notice"><%= notice %></p>
        <h1 class="storyTitle"><%= @story.title %></h1>
        <h4 class="chapterInfo">
            Chapter 1 by <%= link_to(@story.user) do %>
                <%= @story.user.name %>
            <% end %>
        </h4>
        <p class="storyContent"><%= @story.content %></p>

        <% maxVotes = 0 %>
        <% chosenChapterRound = "" %>
        <% chosenChapters = [] %>
        <%-#= time_ago_in_words(@story.created_at) -%>
        <ul class="storyList">
            <% @story.chapters.each do |chapter| %>
                <% if round.to_s != chapter.round %>
                    <% if chosenChapterRound != chapter.round %>
                        <% maxVotes = 0 %>
                    <% end %>

                    <% if chapter.votes.count > maxVotes %>
                        <% maxVotes = chapter.votes.count %>
                        <% chosenChapterRound = chapter.round %>
                        <% chosenChapters[round.to_i] = chapter %>
                    <% end %>
                <% end %>
            <% end %>
            <% chosenChapters.each do |chosenChapter| %>
                <% if chosenChapter.nil? == false %>
                    <li>
                        <h4 class="chapterInfo">Chapter <%= chosenChapter.round %> by <a href="/users/<%= chosenChapter.author %>"><%= chosenChapter.authorname %></a></h4>
                        <p class="storyContent"><%= chosenChapter.body %></p>
                    </li>
                <% end %>
            <% end %>
        </ul>
        
        <div class="col-xs-12 storySocial-info">
            <a target="_blank" href="http://twitter.com/share?text=Check%20out%20this%20story" title="Share this story on Twitter"><i class="fa fa-twitter-square"></i></a>
            <a target="_blank" href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" title="Share this story on Facebook"><i class="fa fa-facebook-square"></i></a>
        </div>

    </div>
</div>

<div class="contentContainer">
    <div class="container">
        <% if vote == true %>
            <% if @story.timeLeft != false %>
                <p class="pull-right clock"><span id="clock"><%= @story.timeLeft %></span> min left</p>
            <% end %>
            <h2 class="chapterHeadline">Vote on chapter <%= round %></h2>
            <ul>
                <% @story.chapters.each do |chapter| %>
                    <% if round.to_s == chapter.round %>
                        <li class="voteChapter-container">
                            <p class="voteChapter-content"><%= chapter.body %></p>
                            <% if signed_in? %>
                                <%= button_to 'Vote', upvote_chapter_path(chapter), method: :post, class: "pull-right btn btn-inverse" %>
                            <% else %>
                                <%= link_to "Login to vote on your favorite", login_path, class: "pull-right secondaryLink" %>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        <% end %>
        <% if defined?(:round) && @story.created_at > 16.hour.ago && vote == false %>
            <% if @story.timeLeft != false %>
                <p class="pull-right clock"><span id="clock"><%= @story.timeLeft %></span> min left</p>
            <% end %>
            <h2 class="chapterHeadline">New chapter</h2>
            <% if signed_in? %>
                <%= form_for([@story, @story.chapters.build]) do |f| %>
                    <input id="chapter_round" name="chapter[round]" type="hidden" value="<%= round %>">
                    <input id="chapter_author" name="chapter[author]" type="hidden" value="<%= current_user.id %>">
                    <input id="chapter_authorname" name="chapter[authorname]" type="hidden" value="<%= current_user.name %>">
                    <div class="field"><%= f.text_area :body, placeholder: "Continue the story" %></div>
                    <div class="pull-right marginBottom"><%= f.submit %></div>
                <% end %>
            <% else %>
                <%= link_to "Login to write the next chapter", login_path, class: "pull-right btn" %>
            <% end %>
        <% end %>
    </div>
</div>