<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <!-- <%= link_to "Story Wars", root_path, id: "logo", class: "logo" %> -->
        <a href="/" class="logo" title="Story Wars">
            <%= image_tag "snodd_logo.png" %>
        </a>
        <nav>
            <ul class="nav pull-right">
                <% if signed_in? %>
                    <li><%= link_to 'Write Your Story', new_story_path, class: "btn" %></li>
                    <li class="marginLeft avatar">
                        <%= link_to(current_user) do %>
                            <%= gravatar_for current_user %>
                            <span class="hide-xs"><%= current_user.name %></span>
                        <% end %>
                    </li>
                    <!-- <li class="marginLeft">
                        <%= link_to "Sign out", logout_path, method: "delete", class: "btn btn-inverse" %>
                    </li> -->

                <% else %>
                    <li><%= link_to 'Write Your Story', login_path, class: "btn" %></li>
                    <li class="marginLeft"><%= link_to "Join", login_path, class: "btn btn-inverse" %></li>
                <% end %>
            </ul>
        </nav>
    </div>
  </div>
</header>