<!DOCTYPE html>
<html>
<head>
    <title>Story Wars - Writing stories together</title>
    <meta name="description" content="Collaborative and competitive writing">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'iphone-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'ipad-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'iphone-retina-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'ipad-retina-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
    <%= render 'layouts/header' %>
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
    
    <%= render 'layouts/footer' %>

    <script>
        function onDeviceReady() {
            if (parseFloat(window.device.version) >= 7.0) {
                  document.body.style.marginTop = "20px";
                  document.getElementsByClassName("navbar-fixed-top").style.marginTop = "20px";
            }
        }
        document.addEventListener('deviceready', onDeviceReady, false);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53134362-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>